{% extends "layout.html" %}
{% block content %}
    <h1>Club News Feed</h1>
    <a href="{{ url_for('download_schedule') }}" class="btn">Download Game Schedule (PNG)</a>
    
    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('new_post') }}">Create New Update</a></p>
    {% endif %}

    <hr>

    {% for post in posts %}
        <article>
            <h3>{{ post.title }}</h3>
            <p><small>Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
            <p>{{ post.content }}</p>
        </article>
    {% endfor %}
{% endblock %}